header{
    background-color: black;
}

header h1{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 62px;
    text-align: center;
}

header h1:after{
    content: "repair";
    text-transform: uppercase;
    color: c6c6ce;
    font-size: 30px;
}

header h2{
    color: #ffffff;
    font-size: 25px;
    margin: 0px;
    text-align: center;
}