header {
    background-color: black;

}

header h1 {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 62px;
    text-align: center;
}

header h1:after {
    content: "reparo";
    text-transform: uppercase;
    color: c6c6ce;
    font-size: 30px;
}

header h2 {
    color: #ffffff;
    font-size: 25px;
    margin: 0px;
    text-align: center;
}

.nav-container {
    background-image: url(../img/header.jpg);
    background-repeat: repeat-x;
    margin-left: 0;
    margin-right: 0;
}

header .nav {
    height: 60px;
    line-height: 60px;

}

header a {
    padding: 0 15px 0 15px;
    background: url(../img/li.jpg) right 0 no-repeat;
    color: #000000;
    font-weight: 350;
    text-decoration: none;
}

header a:first-child {
    width: 61px;
    background-image: url(../img/home.jpg);
    background-position: left;
}

.active {
    background-position: right !important;
}

a:hover {
    text-decoration: none;
    color: rgb(33, 224, 243);
    text-shadow: 0px 0px 4px rgb(33, 224, 243);
}
